*, *:after, *:before {
 /*   box-sizing: border-box;*/
    padding: 0;
    margin: 0;
 /*   transition: .5s ease-in-out;
*/
}
body {
   font-family: 'Cuprum', sans-serif;
}
a {
	outline: none;
	color: #fff;
	text-decoration: none;
}
img {
   display: block;
   width: 100%;
}
ul {
   list-style: none;
}
b{
 font-weight: bold;
}
.content{
	min-height: calc(100vh - 543px);
}
.all_red_button{
	background-color: #ee3643!important;
	font-size: 14px;
	text-transform: uppercase;
	padding: 13px 24px 13px 24px;
	display: block;
}
.all_red_button:hover{
	background-color: #ca2c37!important;
}
.hidden{
	visibility: hidden;
}
.container{
    margin: 0 auto;
    /* width: 100%; */
    max-width: 960px;
    padding: 0 15px;
}

/* кнопка переключения меню, появляющаяся при ширине 768px */
.header_toggle {
   display: none;
   position: relative;
   width: 48px;
   height: 48px;
   margin-left: 20px;
   background: #EF5A42;
   cursor: pointer;
}
.header_toggle  span {
   display: block;
   position: absolute;
   top: 19px;
   left: 8px;
   right: 8px;
   height: 2px;
   background: white;
}
.header_toggle  span:before, .header_toggle  span:after {
   content: "";
   position: absolute;
   display: block;
   left: 0;
   width: 100%;
   height: 2px;
   background: white;
}
.header_toggle span:before {
   top: -10px;
}
.header_toggle  span:after {
   bottom: -10px;
}

/*ШАПКА*/
.header{
	background-color: #f3f7f8;
	padding-bottom: 20px;
}

.first_line_container{
	display: flex;
	justify-content: space-between;
}
.header_wrapper_first_line{
	background-color: #293449;	
}

.header_link{
    display: flex;
    list-style: none;
    padding-left: 0px;
    width: 435px;
    justify-content: space-between;
    margin: 0;
    position: relative;
}
.header_link li, 
.header_link a{
    padding: 15px 17px 15px 15px;
} 
.icon_bookmark::after{
    content: "";
    position: absolute;
    top: 16px;
    width: 21px;
    height: 21px;
    background-image: url(../img/png/icon_bookmark.png);
    background-repeat: no-repeat;
}
.icon_bookmark:hover,
.cart_icon:hover{
	background-color: #212a3a;
}
.cart_icon::after{
    content: "";
    position: absolute;
    top: 18px;
    width: 15px;
    height: 15px;
    background-image: url(../img/png/cart_icon.png);
    background-repeat: no-repeat;
}
.header_link.active {
    max-height: 145px;
    display: block;
    width: 100%;
}
.header_order{
    background-color: #63a63e;
}
.header_order:hover{
	background-color: #5fbb2d;
}
.header_order:focus{
	background-color: #518534;
	opacity: 0.5;
}
.logo{
	width: 220px;
	height: 47px;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	background-color: #ee3643;
	color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
}
.logo:hover{
	background-color: #ca2c37;
}
.logo:focus{
	background-color: #ba2732;
}
/*.search{
    border: none;
    outline: none;
    background-color: #293449;
}*/
/* форма поиска */
#searchform {
	width: 200px;
   margin-left: 46px;
   display: inline-block;
   position: relative;
   min-height: 20px; 
}
.search{
   width: 147px;
   border: none;
   padding-left: 10px;
   height: 48px;
   overflow: hidden;
   outline: none;
   font-style: italic;
   vertical-align: middle; 
   background: #293449;
}
.search:focus{
	background: #fff;
}
 .search_btn {
  	width: 20px; 
  	height: 20px; 
  	border: none;
  	background: url(../img/png/icon_search.png) no-repeat 50% 50%; 
    vertical-align: middle;
    outline: none;
}
input.search::placeholder{
	color: #fff;
}
.cart_icon:hover .dropdown_cart{
	display: block;
}
.dropdown_cart{
	display: none;
	position: absolute;
	top: 48px;
	background-color: #fff;
	width: 65%;
	z-index: 2;
	

}
.text_cart{
    position: absolute;
    top: 86px;
    text-align: center;
    right: 51px;
    font-size: 17px;
    width: 87px;
    color: #32425c;
    font-weight: bold;
}
	.text_cart_empty{
    position: absolute;
    top: 43px;
    right: 35px;
    font-size: 21px;
    color: #ee3643;
    font-weight: bold;
}

/*ВТОРАЯ ЛИНИЯ В ШАПКЕ*/

.header_second_line{
	display: flex;
	justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
}

.second_line_text{
	width: 196px;
	font-size: 16px;
	color: #ee3643;
	line-height: 23px;
	font-family: Cuprum;
	margin: 0px;
}
.second_line_btns{
    display: flex;
    height: 48px;
    position: relative;
}
.button_second_line{
	color: #000;
	background-color: #fff;
    padding: 14px 36px 14px 36px;
}
.button_second_line:hover{
	color: #ee3643;
}
.button_log_in::before{
	content: "";
	position: absolute;
	background-image: url(../img/png/icon_login.png);
    width: 20px;
    height: 17px;
    left: 5px;
    top: 15px;
}
.all_second_line{
	width: 270px;
}
.second_line_tel{
    border: 3px solid #ffffff;
    margin: 0px;
	color: #ee3643;
	padding: 12px 0px 12px 0px;
	text-align: center;
	position: relative;
	font-size: 21px;
}
.second_line_tel::before{
	position: absolute;
	content: "";
	background-image: url(../img/svg/icon-phone.svg);
	width: 19px;
    height: 19px;
	left: 33px;
    top: 15px;

}
.second_line_address{
	color: #32425c!important;
	font-size: 14px!important;
	font-weight: 400;
}
.second_line_btns a{
   	margin-right: 20px;
 }
 .second_line_btns a:last-child{
 	margin-right: 0px;
 }



 /*НАВИГАЦИЯ В ШАПКЕ*/

.header_navigation{
	margin-top: 35px;
}
.header_navigation_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding-left: 0px;
    box-shadow: inset 0 -5px 0 #293449;
    background-color: #32425c;
	padding-right: 0px;
}
.header_navigation_item li{
	padding: 25px 18px 25px 18px;
} 
.header_navigation_item a{
	padding: 25px 18px 25px 18px;
}
.header_navigation_item_link:hover{
	background-color: #1d2739;
}
/* FOCUS AND ACTIVE LINK */
.focus{
	background-color: #1d2739;
	opacity: 0.5;
}
/* ВЫПАДАЮЩЕЕ МЕНЮ */
.header_navigation_dropdown{
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 666;
	width: 300px;
}
.header_navigation_dropdown li{
	display: flex;
	padding: 5px;
}
.header_navigation_dropdown li:hover{
	text-decoration: underline;
}
.header_navigation_dropdown a{
	color: #000;
}
.header_navigation_catalog{
	position: relative;
}
.header_navigation_catalog:hover>.header_navigation_dropdown{
	display: block;
}
.header_navigation_dropdown img{
	width: 30px;
	height: 30px;
	margin-top: 19px;
    margin-left: 13px;
}
.header_navigation_dropdown_electro_instrument{
	position: absolute;
	display: none;
    right: -130px;
    top: 0;
	background-color: #fff;
}
.header_navigation_dropdown_electro_instrument li{
	display: block;
	padding: 12px;
}
.header_navigation_dropdown_instrument:hover .header_navigation_dropdown_electro_instrument{
	display: block;
}
/*СПИСОК УСЛУГ И ТОВАРОВ*/
.choose_item_category{
	margin: 0 auto;
	margin-top: 20px;
}
.wrapper_item_category{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1vw;
	grid-template-areas: 
	"materials tool technics"
	"slider slider discounts"
	"slider slider delivery"
}
.item_category_materials{
	background-color: #ffbf47;
	grid-area: materials;
	background-image: url(../img/svg/icon_materials.svg);
	background-repeat: no-repeat;
    background-position: 235px 25px;
}
.item_category_tool{
	background-color: #3bbce3;
	grid-area: tool;
	background-image: url(../img/svg/icon_tool.svg);
	background-repeat: no-repeat;
	background-position: 210px 25px;
}
.item_category_technics{
	background-color: #dc91d8;
	grid-area: technics;
	background-image: url(../img/svg/icon_technic.svg);
	background-repeat: no-repeat;
    background-position: 210px 25px;		
}
.item_category_discounts{
	background-color: #8ed78f;
	grid-area: discounts;
	background-image: url(../img/svg/icon_sale.svg);
	background-repeat: no-repeat;
    background-position: 210px 25px;		
}
.item_category_delivery{
	background-color: #ffc047;
	grid-area: delivery;
	background-image: url(../img/svg/icon_delivery.svg);
	background-repeat: no-repeat;	
    background-position: 210px 25px;	
}
.item_category_slider{
	position: relative;
	grid-area: slider;
}
.item_category_slider h3{
	position: absolute;
	top: 0px;
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	margin-left: 23px;
	margin-top: 20px;
}
.item_slide_text{
	right: 20px!important;
}
.item_category_position_right{
	position: absolute;
	bottom: 30px;
	right: 20px;
}
.item_category_slider p{
	position: absolute;
	top: 50px;
}
.item_category_position_left{
	position: absolute;
	bottom: 30px;
}
.wrapper_item_category p{
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	margin-left: 23px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.wrapper_item_category_link {
    background: rgba(0, 0, 0, 0.1);
    margin-left: 23px;
    text-transform: uppercase;
    padding: 13px 24px 13px 24px;
    display: block;
    width: 105px;
    text-align: center;
}
.wrapper_item_category_link:hover{
	background-color: #000000;
	opacity: 0.2;
}
.category_slider_button{
    background-color: #ee3643!important;
}
.item_category_open{
	margin-left: 20px;
}


/*СЛАЙДЕР*/

.item_category_slider{
	position: relative;

}
.item_category_slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -24px 0px 0px;
	z-index: 10;
	font-size: 0px;
	width: 22px;
	height: 40px;
	border: none;
	background-color:#ee3643; 
}
.item_category_slider .slick-arrow.slick-prev{
	left: 0;
	background-image: url('../img/png/slider_btn_left.png');
	background-repeat: no-repeat;
}

.item_category_slider .slick-arrow.slick-next{
	right: 0;
	background-image: url('../img/png/slider_btn_right.png');
	background-repeat: no-repeat;
}
.item_category_slider .slick-dots{
	display: flex;
	position: absolute;
	bottom: 20px;
	left: 50%;
}
.item_category_slider .slick-dots li{
	list-style: none;
	margin: 0px 5px;
}
.item_category_slider .slick-dots li button{
  font-size: 0;
  height: 10px;
  width: 10px;
  border: 2px solid #ee3643;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.item_category_slider .slick-dots li.slick-active button{
	background-color: #ee3643;
}







/*ПОПУЛЯРНЫЕ ТОВАРЫ СПИСОК*/
.section_popular_goods{
	position: relative;
}
.popular_goods{
	background-color: #f9f5f0;
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.popular_goods h2{
	color: #32425c;
	font-size: 30px;
	font-weight: 400;
    padding: 20px 0 20px 0;
}

.popular_goods_item{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.link_goods {
	border: 1px solid #eaeaea;
	padding-bottom: 38px;
}
.slide_goods{
	margin: 0 10px 20px 10px;
}

.link_goods {
	position: relative;
}
.link_goods:hover{
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.popular_goods_item img{
	width: auto;
	margin: 0 auto;
}
.popular_goods_item p{
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
}
.popular_goods_price{
	position: relative;
	padding: 10px;
	background-color: #ee3643;
	display: block;
    text-align: center;
    margin: 0px 38px 0 38px;
}

.old_cost{
	color: #a9a9a9;
	/*перечеркнутый текст*/
	text-decoration: line-through;  
}
#back{
	display: none;
}
#next{
	display: none;
}
.add_popular_goods{
	margin-left: 25%;
	position: absolute;
	display: none;
	top: 40px;
}
.add_popular_goods_second_str{
	margin-left: 20%;
	position: absolute;
	display: none;
	top: 40px;
}
.btn_popular_goods{
    width: 135px;
    height: 38px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 7px 0px 7px 0;
    cursor: pointer;
}
.btn_popular_goods_first{
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
	border: none;
	color: #fff;
	margin-bottom: 4px;
}
.btn_popular_goods_first::before{
	position: absolute;
	content: "";
	background-image: url(../img/png/cart_icon.png);
	width: 15px;
    height: 15px;
    left: 15px;
    top: 8px;
}
.btn_popular_goods_first:hover{
	background-color: #518534;
}
.btn_popular_goods_second{
	background-color: #fff;
	color: #32425c;
	border: 3px solid #63a63e;
}
.btn_popular_goods_second:hover{
	border: 3px solid #32425c;
}

/*При наведении на элемент списка, кнопки появляются*/
.link_goods:hover .add_popular_goods{
	display: block;
	position: absolute;
}
.link_goods:hover .add_popular_goods_second_str{
	display: block;
	position: absolute;
}
.link_goods:hover .popular_goods_item_photo{
    visibility: hidden;
    transition: none;
	
}


/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}


.slider_products{
	position: relative;
	padding: 0px 50px;
	margin-top: 20px;
}
.slider_products .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -24px 0px 0px;
	z-index: 10;
	font-size: 0px;
	width: 22px;
	height: 40px;
	border: none;
	background-color:#63a63e; 
}
.slider_products .slick-arrow.slick-prev{
	left: 0;
	background-image: url('../img/png/slider_btn_left.png');
	background-repeat: no-repeat;
}

.slider_products .slick-arrow.slick-next{
	right: 0;
	background-image: url('../img/png/slider_btn_right.png');
	background-repeat: no-repeat;
}
.slider_products .slick-dots{
	display: flex;
	margin: 0 auto;
	justify-content: center;
}
.slider_products .slick-dots li{
	list-style: none;
	margin: 0px 5px;
}
.slider_products .slick-dots li button{
  font-size: 0;
  height: 10px;
  width: 10px;
  border: 2px solid #63a63e;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.slider_products .slick-dots li.slick-active button{
	background-color: #63a63e;
}












/*ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ СПИСОК*/
.section_popular_manufacturers{
	position: relative;
}
.popular_manufacturers{
	background-color: #f9f5f0;
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.popular_manufacturers h2{
	color: #32425c;
	font-size: 30px;
	font-weight: 400;
    padding: 20px 0 20px 0;
}

.popular_manufacturers_item img{
	width: auto;
	margin: 0 auto;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}


.slider{
	position: relative;
	padding: 0px 50px;
	margin-top: 20px;
}
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -24px 0px 0px;
	z-index: 10;
	font-size: 0px;
	width: 22px;
	height: 40px;
	border: none;
	background-color:#63a63e; 
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background-image: url('../img/png/slider_btn_left.png');
	background-repeat: no-repeat;
}

.slider .slick-arrow.slick-next{
	right: 0;
	background-image: url('../img/png/slider_btn_right.png');
	background-repeat: no-repeat;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 5px;
}
.slider .slick-dots li button{
  font-size: 0;
  height: 10px;
  width: 10px;
  border: 2px solid #63a63e;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.slider .slick-dots li.slick-active button{
	background-color: #63a63e;
}

/*СЕРВИС И ДОСТАВКА*/
.service_slider{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.service_title{
	padding-top: 20px;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
	line-height: 30px;
}
.service{
	background-color: #f3f7f8;
	margin-top: 34px;
	padding-bottom: 34px;
}
.service_text{
	font-size: 16px;
	color: #32425c;
	width: 290px;
    margin-top: 16px;
    margin-bottom: 34px;

}
.service_slide_text{
	width: 307px;
}
.service_slider_controls {
    width: 240px;
}

.service_slider_inner{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}
.service_slider_img{
	width: 300px;
	height: 200px;
}
.service_slider_control {
    display: block;
    padding: 14px 22px 15px 22px;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    font-size: 21px;
    line-height: 30px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-color: #32425c;
    cursor: pointer;
    width: 100%;
}

.service_slider_control:hover {
    background-color: #293449;
}
.service_slider_control:focus {
	color: #32425c;
    background-color: #ffffff;
    border-color: #ffffff;
}
.service_active{
	color: #32425c;
    background-color: #ffffff;
    border-color: #ffffff;
}


.service_slider_inner{
	display: none;
}
.show_service{
	display: flex;
}



.service_slider_controls{
	position: relative;
}

.service_slider_controls::after{
    content: "";
    position: absolute;
    background-image: url(../img/png/vertical_line.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 281px;
    left: 232px;
    top: -50px;
}



/*КОМПАНИЯ "ТЕХНОМАРТ И КОНТАКТЫ*/
.company_contact_wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 34px;
}
.company_contact_wrapper p{
	line-height: 24px;
	font-size: 14px;
	margin-top: 20px;
    margin-bottom: 20px;
}
.company_contact_wrapper h2{
	text-transform: uppercase;
	font-size: 30px;
}
.box_company{
	width: 519px;
}
.box_company_partners li{
	display: flex;
	flex-direction: column;
	position: relative;
}
.box_company_partners a::before{
	content: "";
	position: absolute;
	background-image: url(../img/svg/red_line.svg);
    width: 25px;
    height: 2px;
    left: 0;
    top: 7px;
}
.box_company_partners a{
	color: #000;
	padding-left: 35px;
}
.box_contact{
	width: 315px;
}
.company_contact_btn{
	margin-top: 20px;
	display: block;
    text-align: center;
    width: 266px;
}

/*FOOTER*/
.footer_wrapper{
	margin-top: 34px;
	background-color: #32425c;
}
.footer_wrapper p{
	color: #f3f7f9;
	font-size: 18px;
	line-height: 24px;
}

.footer_line_one_item{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.first_footer_item{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 15px;
}
.first_footer_item a{
	color: #f1f5f7;
	font-size: 18px;
	line-height: 24px;
	margin-left: 35px;
}
.first_footer_item a:hover{
	text-decoration: underline;
}
.footer_line_two{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}
.footer_line_two p{
	width: 385px;
}
.footer_line_two_item{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer_line_two_item a{
	color: #ffd180;
	font-size: 18px;
	line-height: 24px;
	margin-left: 22px;
}
.footer_line_two_item a:hover{
	text-decoration: underline;
}
.footer_line_one_item_dropbtn{
	display: none;
}
/*SECOND FOOTER*/
.wrapper_second_footer{
	background-color: #293449;
}
.second_footer{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	padding-top: 20px;
}
.footer_copyright{
	width: 228px;
}
.second_footer_socials{
	width: 42px;
	height: 42px;
	background-color: #212a3a;
	border: none;
    outline: none;
    border-radius: 21px;
}
.second_footer_socials:hover{
	background-color: #ee3643;
}
.socials{
	position: relative;
}
.social_vk:before{
	position: absolute;
	content: "";
	background-image: url(../img/svg/vk_icon.svg);
	width: 26px;
	height: 15px;
    left: 7px;
    top: 13px;

}
.social_fb:before{
	position: absolute;
	content: "";
	background-image: url(../img/svg/fb_icon.svg);
	width: 12px;
	height: 22px;
    left: 60px;
    top: 10px;
}
.social_inst:before{
	position: absolute;
	content: "";
	background-image: url(../img/svg/insta_icon.svg);
	width: 21px;
	height: 21px;
    left: 103px;
    top: 9px;;	
}
.footer_connection_develop{
	display: flex;
}
.footer_connection{
	width: 135px;
}
.footer_develop{
	width: 135px;
	margin-left: 55px;
}
.footer_connection_email{
	color: #ffd180;
}
.footer_connection_email:hover{
	text-decoration: underline;
}



/*ВТОРАЯ СТРАНИЦА*/

/*ХЛЕБНЫЕ КРОШКИ*/
ul.breadcrumbs{
	position: relative;
    margin-top: 34px;

}
ul.breadcrumbs a{
	color: #000;
}
ul.breadcrumbs li {
  display: inline;
  font-size: 13px;
  text-transform: uppercase;
}
ul.breadcrumbs li+li:before {
	  padding: 8px;
  color: black;
  content: "/\00a0";
/*  content: "";
  background-image: url(../img/svg/icon-right-small.svg);
  width: 8px;
  height: 12px;
  position: absolute;
  background-repeat: no-repeat;*/
}
.main_breabcrumb{
	background-image: url(../img/svg/icon-home.svg);
	background-repeat: no-repeat;
	width: 14px;
	height: 12px;
}
/*РАЗДЕЛ ПЕРФОРАТОРОВ*/
.section_perforator{
	margin-top: 34px;
	background-color: #f2f6f8;
}
.section_perforator h2{
	color: #32425c;
	font-size: 30px;
	text-transform: uppercase;
	padding: 25px;
}


/*ТОВАРЫ И СОРТИРОВКА*/



/*РАЗДЕЛЕНИЕ БЛОКА НА ГРИДАХ*/
.wrapper_goods{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.1fr 1fr 1fr 1fr;
	grid-gap: 1vw;
    grid-template-areas:
        "filter sorting sorting sorting"
        "filter goods goods goods"
        "filter goods goods goods"
        "filter goods goods goods";
}

.box_filter{
	grid-area: filter;
}
.box_sorting_goods{
	grid-area: sorting;
}
.box_output_goods{
	grid-area: goods;
}
.wrapper_goods{
	margin-top: 34px;
}

.wrapper_goods p,
.wrapper_goods h3{
	text-transform: uppercase;
}
.box_filter_paragraph{
	background-color: #f7f3ec;
	padding: 26px;
}

/*Попап "ТОВАР ДОБАВЛЕН В КОРЗИНУ"*/
	.pop_up_notification{
    position: fixed;
    z-index: 999;
    display: none;
    color: #000;
    background-color: #f8f7f4;
    width: 620px;
    padding: 35px 0 35px 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 40px rgb(0 0 0 / 75%);
}
.pop_up_notification p{
	text-align: center;
	font-size: 22px;
}
.pop_up_notification p::before{
	content: '';
    display: inline-block;
    width: 66px;
    height: 66px;
    background-image: url(../img/svg/popup_znak.svg);
    margin-right: 30px;
    margin-bottom: -20px;
}
.pop_up_notification_button{
	display: flex;
	justify-content: center;
	margin-top: 25px;
	background-color: #f1f1f1;
	padding: 45px 0 45px 0px;
}
.pop_up_notification_button button:last-child{
	margin-left: 15px;
}
.pop_up_notification_button button:last-child:hover{
	background-color:#32425c!important ;
	color: #fff;
}
.pop_up_notification_button a{
	padding: 13px 60px 13px 60px;
}
.pop_up_notification_button a:hover{
	background-color:#63a63e!important ;
}
.pop_up_button_order{
	border: none;
	color: #fff;

}
.pop_up_button_continue_shopping{
	border: none;
    background-color: #000;
	background-color: #ffffff!important;
}





/*СОРТИРОВКА*/
.box_sorting_goods{
	background-color: #f7f3ec;
	display: flex;
	justify-content: space-between;
}
.box_sorting_goods p{
	padding: 26px;
}
.btn_sort{
	display: flex;
	justify-content: space-around;
	width: 400px;
}
.btn_sort button{
	border: none;
	background-color: #f7f3ec;
	outline: none;	
	font-size: 13px;
	text-transform: uppercase;
	padding: 27px 10px 27px 10px;
}
.btn_sort_cost{
	position: relative;
}
.choose_sort_btn{
	display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.choose_sort_btn button{
	color: black;
    padding: 12px 16px;
    display: block;
    width: 100%;
}
.choose_sort_btn button:hover{
	background-color: #ee3643;
}
.btn_sort_cost:hover .choose_sort_btn {display: block;}

.btn_sort_cost:hover .button_sort {
	font-size: 14px;
    text-decoration: underline;
    color: #ee3643;
}
.choose_items{
	margin-top: 30px;
}
.choose_items p{
	padding: 10px 0px 10px 0px;
	cursor: pointer;
}
.choose_items input{
	margin-right: 10px;
}
.view{
	border: 1px solid #e5e5e5;
    padding: 12px 40px 12px 40px;
    text-transform: uppercase;
    font-size: 13px;
    background: #fff;
    outline: none;
}
.cost_range_box{
	margin-top: 33px;
}

/* для элемента input c type="checkbox" */
.custom_checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom_checkbox p::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url(../img/png/checkbox-off.png);
    margin-right: 9px;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom_checkbox input:checked+p::before {
    background-image: url(../img/png/checkbox-on.png);
    width: 27px;
    height: 23px;
}
.custom_checkbox_2 input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom_checkbox_2 p::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/png/radio-off.png);
    margin-right: 9px;
}
.custom_checkbox_2 input:checked+p::before {
  background-image: url(../img/png/radio-on.png);
}
/*КАТАЛОГ ТОВАРОВ*/
.box_output_goods_ul{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.link_goods{
	margin-bottom: 20px;
}

/*ВЫПАДАЮЩИЙ СПИСОК ФИЛЬТРА ДЛЯ ТЕЛЕФОНА */
.box_filter_sort_for_tel{
	display: none;
}

.box_filter_dropdown_content{
	display: none;
    background-color: #f2f6f8;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.box_filter_dropdown_content p{
    padding: 12px 16px;
    display: block;
}
/*.box_filter_dropdown_content p:hover{background-color: #f7f3ec;}
.box_filter_button:hover .box_filter_dropdown_content {display: block;}*/

.box_filter_sort_for_tel{
	background-color: #f7f3ec;
    padding: 20px;
}
.box_filter_sort_for_tel input{
    margin-right: 5px;
}
.box_filter_dropdown_content h3{
	padding: 20px;
}
.box_filter_dropdown_content button{
	width: 100%;
    padding: 7px;
    border: none;
    outline: none;
    background: #ee3643;
    color: white;
    text-transform: uppercase;
}
.filter_btn{
	padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    background: white;
    margin-top: 20px;
}

.box_sort_dropdown_content{
	display: none;
    background-color: #f2f6f8;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.box_sort_dropdown_content button{
	width: 100%;
    padding: 7px;
    border: none;
    outline: none;
    background: #ee3643;
    color: white;
    text-transform: uppercase;
}
.box_sort_dropdown_content p{
	padding: 12px 16px;
}


/*СЕКЦИЯ ОБ ИНСТРУМЕНТЕ*/
.box_text_about_instrument{
	background-color: #f2f6f8;
}
.box_text_about_instrument h2{
	font-size: 30px;
	text-transform: uppercase;
	padding: 47px;
}
.box_text_about_instrument p{
	font-size: 14px;
	line-height: 24px;
	padding:  0 47px 47px 47px;
}




/*ПАГИНАЦИЯ*/
.page_numbers{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.page_numbers button{
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
	margin: 10px;
    padding: 9px 16px 9px 16px;
    color: #000;
    cursor: pointer;
}

.page_numbers button:hover, .page_numbers button.active{
	background-color: #ee3643;
	color: #fff;
}




/*FOOTER*/
.footer_wrapper_second_str{
	margin-top: 0px !important;
}





/*КОРЗИНА*/
.link_order{
    background-color: #63a63e;
    width: 88%;
    height: 200px;
    position: absolute;
    height: 24px;
    text-align: center;
    cursor: pointer;
}
.cart_img{
    width: 193px;
    height: 144px;
    margin: 0 auto;
}
.cart_name{
    text-align: center;
    font-weight: bold;
}
.cart_price{
    width: 50%;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    border: 1px #ee3643 solid;
    margin: 0 auto;
}
.cart_quantity{
    margin: 0 auto;
    width: 140px;
    margin-bottom: 10px;
}
.hr_cart{
	margin-top: 10px;
}
.delete{
    border: none;
    background-color: #fff;
    background-image: url(../img/svg/modal_close.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    outline: none;
    cursor: pointer;
    /* margin-top: 0px; */
    position: absolute;
    top: 55px;
}
.cart_block{
	/*display: flex;*/
    flex-wrap: wrap;
}
.minus,.plus{
    width: 33px;
    height: 33px;
    border: none;
    border-radius: 20px;
    background-color: #63a63e;
    margin: 0px 16px 0px 16px;
}

/*СТРАНИЦА ДОСТАВКА*/

.delivery_main_block p{
	line-height: 24px;
	font-family: inherit;
}

.delivery_main_block h2{
	line-height: 24px;
	font-size: 28px;
	margin-top: 34px;
}
.delivery_main_block b{
   font-size: 20px;
   color: #ee3643;
}




/*СТРАНИЦА НОВОСТИ*/
.news{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.box_news{
	width: 250px;
	border: 1px solid #eaeaea;
	padding: 38px 14px 38px 14px;
	margin-top: 24px;
}
.box_news:hover{
	box-shadow: 0 10px 25px rgb(41 52 73 / 50%);
}

.news_title{
    font-family: inherit;
    font-size: 20px;
    padding: 0 0 28px 0;
}


.news_date{
	margin: 18px 0 0 0;
    color: brown;
}







/*СТРАНИЦА СПЕЦПРЕДЛОЖЕНИЯ*/
.box_sale{
		margin-top: 24px;
}
.box_sale b {
    font-size: 18px;
    color: #ee3643;
}
.box_sale p{
    border: 1px solid #eaeaea;
    width: 293px;
    padding: 12px 12px 12px 12px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 17px;
}


/*ФОРМА*/
.modal{
    position: fixed;
    display: none;
    color: #000;
    background-color: #f8f7f4;
    width: 620px;
    padding: 55px 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
 
}
.modal input{
	box-sizing: border-box;
	border: 2px solid #dee3e4;
	padding: 10px;
	width: 100%;
}
.modal textarea{
	border: 2px solid #dee3e4;
	resize: vertical;
	width: 100%;
}
.modal label{
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}
.modal_feedback_form{
	width: 505px;
	margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.modal::after{
    position: absolute;
    content: "";
    background-image: url(../img/svg/red_line2.svg);
    width: 100%;
    height: 7px;
    left: 0px;
    top: 0px;
}
.modal_button{
	border: none;
	width: 100%;
    color: #fff;
    margin-top: 50px;
}
.modal_box{
	width: 230px;
	margin-bottom: 20px;
}
.modal_close{
	position: absolute;
	border: none;
	background-color: #fff;
	background-image: url(../img/svg/modal_close.svg);
	background-repeat: no-repeat;
	width: 21px;
	height: 21px;
	top: 7px;
    right: 3px;
    outline: none;
    cursor: pointer;

}
.modal_textarea{
	width: 100%;
}

/*РЕГИСТРАЦИЯ/ВХОД*/

.wrapper_modal_login_registration{
	display: none;
    position: fixed;
    top: 10%;
    left: 25%;
    width: 800px;
    margin: 0 auto;
    background-color: #293449;
    border-radius: 65px;
    z-index: 999;
}
.modal_login_registration{
    background-image: url(../img/jpg/register5.jpg);
    height: 100%;
    width: 100%;
  /*  margin: 45px 0px 0px 0px;*/
    border-radius: 65px;

}
.background_modal_login_registration{
    width: 41%;
    background: rgba(41, 52, 73, 0.9);
    box-shadow: 0 0 0px #FF8C00, 0 0 0px #FF8C00, 0 0 15px #FF8C00, 0 0 19px #FF8C00, 0 0 11px #FF8C00, 0 0 0px #FF8C00, 0 0 3px #FF8C00, 0 0 50px #FF8C00;
    height: 100%;
    margin-top: 27px;
    margin-bottom: 27px;
    border-radius: 50px;
}
.form_container{
	display: flex;
	justify-content: space-between;
	margin-right: 40px;
}
.form_container h2{
	text-align: center;
	margin-top: 20px;
	font-size: 26px;
	color: #fff;
}

.login_registration_box{
	width: 230px;
	margin-bottom: 20px;
	margin: 0 auto;
	padding: 12px 0 0 0;
}
.login_registration_box_second{
	padding: 0;
}
.form_container input{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0px 0 0 12px;
}
.form_container input::placeholder{
 	/*padding: 0 0 0 10px;*/
}
.form_container label{
	font-size: 18px;
	padding: 0 0px 0px 5px;
	color: #fff;
}
.modal_register_button{
	cursor: pointer;
	background-color: #FF8C00!important;
	font-size: 14px;
	text-transform: uppercase;
	padding: 13px 24px 13px 24px;
	display: block;
	border: none;
	width: 100%;
    color: #fff;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
/*    box-shadow: inset 0 0 7px 0px rgb(0 0 0 / 80%),
    inset rgb(0 0 0 / 30%) -1px -5px 6px 2px, 
    inset rgb(255 255 255 / 50%) 5px 5px 8px 5px, 1px 1px 1px rgb(255 255 255 / 10%),
    0px 2px 5px rgb(0 0 0 / 50%);*/
}

.modal_register_button:hover{
	background-color: #ca2c37!important;
}

.wrapper_toggle_button{
	margin-left: 55px;
}


.toggle_button_login_registration {
	cursor: pointer;
    border: none;
    width: 150px;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    color: #FF8C00;
    /* text-shadow: 1px 1px rgb(0 0 0 / 30%); */
    /* text-decoration: none; */
    padding: 13px;
    /* border-radius: 25px; */
    background: #fff;
    /* box-shadow: inset 0 0 2px 0px rgb(0 0 0 / 80%), inset rgb(0 0 0 / 30%) -5px -5px 6px 2px, inset rgb(255 255 255 / 50%) 5px 5px 8px 5px, 1px 1px 1px rgb(255 255 255 / 10%), 0px 2px 5px rgb(0 0 0 / 50%); */
    transition: .2s;
    border-bottom-right-radius: 15px;
    
}
.toggle_button_login_registration:first-child{
border-bottom-left-radius: 15px;
}
.toggle_button_login_registration:last-child{
	margin-left: -15px;
	
}
.toggle_button_login_registration:hover {
	text-decoration: underline;

}
/*.toggle_button_login_registration:active {
  background: #FF8C00;
  color: #fff;
}*/

.focus_register{
	background-color: #FF8C00;
	color: #fff;
}

.modal_describtion{
    width: 255px;
    height: 200px;
    background: rgba(41, 52, 73, 0.9);
    border-bottom-right-radius: 105px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 12px;
    border-top-right-radius: 8px;
    color: #fff;

}
.modal_describtion h1{
    text-align: center;
    padding: 7px 7px 0 7px;

}
.modal_describtion p{
    text-align: center;
    padding: 6px 15px 0 15px;

}
.modal_or{
	text-align: center;
    color: #fff;
    margin-top: 8px;
    font-size: 18px;
}

.modal_close_login_register{
    position: absolute;
    top: 3px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 4px solid #e62f57;
    border-radius: 50%;
}

.modal_close_login_register:before,
.modal_close_login_register:after {
    content: "";
    position: absolute;
    top: 19px;
    left: 8px;
    width: 26px;
    height: 4px;
    background: #e62f57;
}

.modal_close_login_register:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal_close_login_register:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*Второй вариант*/
/*.modal_describtion {
    width: 310px;
    height: 315px;
    background: rgba(41, 52, 73, 0.9);
    border-bottom-right-radius: 105px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    clip-path: circle(50%);
    margin-left: 20px;

}

.modal_describtion h1{
	padding: 100px 0 0 0;
    text-align: center;
}
.modal_describtion p{
    padding: 22px 0px 0 0px;
    text-align: center;
}
*/


.slider_cost {
  pointer-events: none;
  margin: 0px;
  cursor: pointer;
  padding-left: 30%;
  padding-right: 30%;
  background-color: #32425c;
  box-sizing: border-box;
}



.thumb {
  cursor: pointer;
  border-color: #32425c;
  border-style: solid;
  background-color: #f2f6f8;
  border-radius: 50%;
  position: absolute;

}

.track {
  pointer-events: none;
  height: 100%;
  background-color: #D5E9F3;
}

.container_cost {
    position: relative;
    height: 30px;
    width: 230px;
    margin: 101px 23px 18px 15px;
}

.output {
  pointer-events: none;
  margin: 0;
  width: 40px;
  height: 30px;
  line-height: 30px;
  border-radius: 50% 50% 0 50%;
  background-color: #D5E9F3;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -45px;
  /*left:45px*/
  
  ;
}

.output p {
    pointer-events: none;
    font-size: 15px;
    color: #0a1a17;
    font-weight: bold;
    text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}




















